<!doctype html>
<html lang="en">
<head th:insert="blocks/head :: head">
    <title>Tasks</title>
</head>
<body>
<div class="container-fluid p-0">
    <header th:insert="blocks/header :: header"></header>
    <div class="container mt-4">
        <form class="mt-3" th:action="@{/tasks/update}" method="post">
            <input type="hidden" name="id" th:value="${task.id}">
            <input type="hidden" name="title" th:value="${task.title}">
            <input type="hidden" name="description" th:value="${task.description}">
            <input type="hidden" name="done" th:value="${true}"/>
            <div class="card my-4 text-center">
                <table class="table">
                    <thead>
                    <tr>
                        <th style="width: 20%;">Status</th>
                        <th style="width: 20%;">Title</th>
                        <th style="width: 40%;">Description</th>
                        <th style="width: 20%;">Creation date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${task.isDone()}"></td>
                        <td th:text="${task.getTitle()}"></td>
                        <td style="max-width: 100px" th:text="${task.getDescription()}"></td>
                        <td th:text="${task.getCreated()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-6" th:if="${!task.done}"></div>

                <div class="col-2" th:if="${!task.done}">
                    <button class="btn btn-success w-100" type="submit">Done</button>
                </div>

                <div class="col-8" th:if="${task.done}"></div>

                <div class="col-2">
                    <a class="btn btn-primary w-100" th:href="@{'/tasks/' + ${task.id} + '/edit'}">Edit</a>
                </div>
                <div class="col-2">
                    <a class="btn btn-danger w-100" th:href="@{/tasks/delete/{id}(id=${task.id})}">Delete</a>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
<footer th:insert="blocks/footer :: footer"></footer>
</html>
